{% extends 'base.html' %}
<!-- TItulo del sitio web-->
{% block title %} {{super()}} Sign up {% endblock %} {% block content%}
<a
    class="blog-header-logo text-body-emphasis text-decoration-none title"
    href="/homepage"
    >Wissen Blog</a
>

<h1 class="title_form-sign">Iniciar Sesión</h1>

<div class="sign_form-content">
    <form action="{{login}}" method="POST" class="sign_form">
        <label for="email">Ingresa tu nombre de usuario o email: </label>
        <input type="email" name="username" id="username" required />

        <label for="password">Ingresa tu contrasena: </label>
        <div class="password-container" id="eye-container1">
            <input
                type="password"
                name="password"
                class="password"
                id="password-main"
                required
            />
            <div class="button-container">
                <img
                    src="../static/picture/view.png"
                    class="image"
                    id="eye1"
                    alt=""
                />
            </div>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" class="checkbox" />
            <p>Mantener Sesion Iniciada</p>
        </div>

        <input type="submit" value="Iniciar Sesión" />
        <div class="a-container" style="margin-bottom: 0.5em">
            <p class="p">¿ Olvidaste tu contraseña ?</p>
            <a href="/">Recuperar contraseña</a>
        </div>
        <div class="a-container">
            <p class="p">¿ No tienes cuenta ?</p>
            <a href="/auth/register">Registrate</a>
        </div>
    </form>
</div>
{% endblock %}
