{% extends 'base.html' %} {% include 'navbar.html' %}
<!-- TItulo del sitio web-->
{% block title %} {{super()}} Sign up {% endblock %} {% block content%}

<h1 class="title_form-sign">Registrarse</h1>

<div class="sign_form-content">
    <form action="{{login}}" method="POST" class="sign_form">
        <label for="name_user">Nombre: </label>
        <input type="text" name="name_user" />

        <label for="surname_user">Apellido: </label>
        <input type="text" name="surname_user" />

        <label for="email">E-mail: </label>
        <input type="email" name="username" id="username" required />

        <label for="password">Crear contrasena: </label>
        <input type="password" name="password" id="password" required />

        <label for="password-verify">Repetir contrasena: </label>
        <input type="password" name="password-verify" id="" />

        <input type="submit" value="Registrarse" />
    </form>
</div>
{% include 'footer.html' %} {% endblock %}
