{% extends 'base.html' %}

<!-- TItulo del sitio web-->
{% block title %}
    {{super()}} Sign up
{% endblock %}

{% block content%}

    <h1 class="title_form-sign">Registrarse</h1>

    <div class="sign_form-content">

            <form action="{{login}}" method="POST" class="sign_form">

                    <label for="name_user">Nombre: </label>
                    <input type="text" name="name_user">
            
                    <label for="surname_user">Apellido: </label>
                    <input type="text" name="surname_user">
            
                    <label for="email">E-mail: </label>
                    <input type="email" name="email" id="">
            
                    <label for="password">Crear contrasena: </label>
                    <input type="password" name="password" id="">
            
                    <label for="password-verify">Repetir contrasena: </label>
                    <input type="password" name="password-verify" id="">
            
                    <input type="submit" value="Registrarse">
                <div class="div-precontainer-recordarme">
                    <div class="div-recordarme">
                    <input type="checkbox" class="checkbox-recordarme"  name="" id="checkbox-recordarme">
                    <label for="checkbox-recordarme" class="label-recordarme">Recordarme</label>
                    </div>
                </div>
            </form>

    </div>



{% endblock %}