@import url('var.css');

ul{
    list-style-type: none;
}

header {
    color:#fff;
}
.navbar{
    /*background: var(--blue-green-navbar);*/
    height: 15vh;
    width: 154em;
    margin: auto;
    margin-top: 2vh;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 3em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    max-height: 60px;
    color:var(--white);
    background-color: #0003;
    box-shadow: 0px 0px 2px 1px #aaa3;
}
.left_navbar{
    color:var(--light-green);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.icon{ 
    margin-left: 0.7em;
    height: 4.5em;
    width: 6em;
    background-color: #fff;
    
    box-sizing: border-box;
    border-radius: 15px;
}
.title_navbar{ 
    margin-left: 1.2vw;
    font-family: sans-serif;
    font-size: 20px;
}
.center_navbar_father{
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.center_navbar_father{
    display: flex;
    justify-content: center;
    width: 65vw;

}
.center_navbar{
    
    font-family: sans-serif; /**temporal*/
    font-size: 1rem;
    padding-left: 5vw;
    color:var(--white);
    
    
}
@media only screen and (width < 620px){
    .center_navbar{
        display: none;
    }
    .text_linked{
        display: none;
    }
}
.text_linked{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-size: 80% 80%;
    padding: 0.7em;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 0.1s;
}
.text_linked:hover{

    background-color: #fff2;
    transition: 0.1s;
}

#contacto {
    background: #1ebda0;
    color:var(--black);
    transition: 0.1s;
}
#contacto:hover{
    background-color:#0d8c7a ;
    transition: 0.1s;
}
.button_container{/*para evitar la compresion del el elemento button*/
    display: none;
}

.dropdown_menu{
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    float: right;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 4vw;
    width: 25vw;
    max-width: 0;
    transition: 0.1s;
    overflow: hidden;
}

.open_dropdown_menu{
    max-width: 25vw;
    transition: 0.1s;
    border-color: #fff;
    background-color: #000;
}
.dropdown_subcontainer{
    border-color:transparent;
    border-style: solid;
    border-width: 0 0 2px 0;
    flex-grow: 1;
    overflow: hidden;
}
.open_dropdown_subcontainer{
    border-color: #fff;
}

.button_container{/*para evitar la compresion del el elemento button*/
    display: flex;
}
.button_menu{
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    display: block;
    background-image: url('..\picture\three_lines.png');
    background-size: contain;
    
}



