ul{
    list-style-type: none;
}

header {
    color:#fff;
}
.navbar{
    background: #2b25d954;
    height: 15vh;
    width: 95vw;
    margin: auto;
    margin-top: 5vh;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    max-height: 60px;
    
}
.left_navbar{
    color:#23D9B7;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.icon{ 
    margin-left: 0.7em;
    height: 4.5em;
    width: 6em;
    background-color: #fff;
    
    box-sizing: border-box;
    border-radius: 15px;
}
.title_navbar{ /** h1 o h2 ?*/
    margin-left: 1.2vw;
    font-family: sans-serif;
    font-size: 20px;
}
.center_navbar_father{
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    
}
.center_navbar_father{
    display: flex;
    justify-content: center;
    width: 65vw;

}
.center_navbar{
    
    font-family: sans-serif; /**temporal*/
    font-size: 1rem;
    padding-left: 5vw;
    
    
}
@media only screen and (width < 620px){
    .center_navbar{
        display: none;
    }
    .text_linked{
        display: none;
    }
}
.text_linked{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    
    padding: 1.1vw;
    box-sizing: border-box;
    border-radius: 8px;
    animation-name: change-color1;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.text_linked:hover{

    animation-name: change-color2;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/*
@keyframes change-color1 {
    from{
        background-color: #0002;
    }
    to{
        background-color: #0000;
    }
}
@keyframes change-color2 {
    
    to{
        background-color: #0002;
    }
}*/

#contacto {
    background: #1ebda0;
}
.button_container{/*para evitar la compresion del el elemento button*/
    display: none;
}
.button_menu{
    background-color: transparent;
    
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    
    display: block;
}
.button_menu span{
    margin: 4px auto;
    width: 60%;
    height: 4px;
    background-color:  #1ebda0;
    display: block;
    cursor: pointer;
    color:#fff;
}

.dropdown_menu{
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    float: right;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 4vw;
    width: 25vw;
    max-width: 0;
    transition: 0.1s;
    overflow: hidden;
}

.open_dropdown_menu{
    max-width: 25vw;
    transition: 0.1s;
    border-color: #fff;
    background-color: #000;
}
.dropdown_subcontainer{
    border-color:transparent;
    border-style: solid;
    border-width: 0 0 2px 0;
    flex-grow: 1;
    overflow: hidden;
}
.open_dropdown_subcontainer{
    border-color: #fff;
}
.dropdown_elements{
    text-align: center;
}

.button_container{/*para evitar la compresion del el elemento button*/
    display: flex;
}
.button_menu{
    background-color: transparent;
    
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    
    display: block;
}
.button_menu span{
    margin: 4px auto;
    width: 60%;
    height: 4px;
    background-color:  #000;
    display: block;
    cursor: pointer;
}

.dropdown_menu{
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    height: 50vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 4vw;
    width: 25vw;
    max-width: 0;
    transition: 0.1s;
    overflow: hidden;
}

.open_dropdown_menu{
    max-width: 25vw;
    transition: 0.1s;
    border-color: #fff;
    background-color: #000;
}
.dropdown_subcontainer{
    border-color:transparent;
    border-style: solid;
    border-width: 0 0 2px 0;
    flex-grow: 1;
    overflow: hidden;
}
.open_dropdown_subcontainer{
    border-color: #fff;
}
.dropdown_elements{
    text-align: center;
}
