ul{
    list-style-type: none;
}

.navbar{
    background-color: #fff7;
    height: 15vh;
    width: 95vw;
    margin: auto;
    margin-top: 5vh;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    max-height: 60px;
    
}
.left_navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.icon{ 
    margin-left: 0.7em;
    height: 4.5em;
    width: 6em;
    background-color: #fff;
    
    box-sizing: border-box;
    border-radius: 15px;
}
.title_navbar{ /** h1 o h2 ?*/
    margin-left: 1.2vw;
    font-family: sans-serif;
    font-size: 20px;
}
.center_navbar_father{
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    
}
.center_navbar_father{
    display: flex;
    justify-content: center;
    width: 65vw;

}
.center_navbar{
    
    font-family: sans-serif; /**temporal*/
    font-size: 1rem;
    padding-left: 5vw;
    
    
}
.text_linked{
    text-decoration: none;
    color: #000;
    
    padding: 1.1vw;
    box-sizing: border-box;
    border-radius: 8px;
    animation-name: change-color1;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.text_linked:hover{

    animation-name: change-color2;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes change-color1 {
    from{
        background-color: #0002;
    }
    to{
        background-color: #0000;
    }
}
@keyframes change-color2 {
    
    to{
        background-color: #0002;
    }
}
.button_menu{
    background-color: transparent;
    
    height: 5vw;
    width: 5vw;
    border: none;
    cursor: pointer;
}
.button_menu span{
    margin: 4px auto;
    width: 60%;
    height: 4px;
    background-color:  #000;
    display: block;
    cursor: pointer;
}


.dropdown-menu{
    background-color: #000;
    border-color: #ffffff;
    border: 2px 2px 2px 2px;
    border-style: solid;
    float: right;

}
.dropdown-subcontainer{
    display: flex;
    flex-direction: column;
}
.open_dropdown_menu{
    max-height: 100px;
    opacity: 0;
    transition: 4s;
}
.dropdown-elements{
    border-color: #ffffff;
    border: 2px 2px 2px 2px;
    border-style: solid;
    text-align: center;
    line-height: 60px;
    width: 100%;
    margin-right: 20vw;

}
