/* Recent News - Seccion de noticias recientes */
hr {
    width: 65%;
    color:#ccc;
}

/* Contenedor de toda la seccion de noticias recientes */
.recent_news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    background: #fff;
    color:#ccc;
    padding:10px;
}

/* Contenedor de UNA nueva noticia */
.recent_news-container .news_container {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1rem 0;
    /*border: 1px solid red;*/
}

.recent_news-container .news_container .news-frontPage {
    display: flex;
    justify-content: space-between;
    color: #000;
}

.recent_news-container .news_container .news-frontPage .news-frontPage_title {
    width: 70%;
    text-align: justify;
}

.recent_news-container .news_container .news-frontPage .news-frontPage_title a {
    text-decoration: none;
    font-size: 1.6rem;
    color:#000;
}

.recent_news-container .news_container .news-frontPage .news-frontPage_picture {
    width: 30%;
    margin: 10px;
}

.recent_news-container .news_container .news-frontPage .news-frontPage_picture img {
    width: 100%;
}

/* Parrafo del contenedor de noticia */
.recent_news-container .news_container .news-middlePage {
    width: 65%;
}

.recent_news-container .news_container .news-middlePage p {
    color:#000;
    text-align: justify;
}

.recent_news-container .news_container .news-middlePage a {
    color:#bbb;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin:5px;
}


.recent_news-container .news_container .news-bottom {
    margin: 15px;
    display: flex;
    color:#868484;
    font-size: .7rem;
}
