@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.title_form-sign {
    text-align: center;
    color:#ffffff;
}

.sign_form-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_form-content .sign_form {
    box-shadow: 0px 0px 2px 1px #aaa3;
    background: #0003;
    display: flex;
    width: 40%;
    max-width: 1030px;
    flex-wrap: wrap;
    align-content: center;
    padding: 40px;
    border-radius: 25px;
}

.sign_form-content .sign_form label {
    font-family: sans-serif;
    font-size: .9rem;
    margin: 5px;
    color: #ffffff;
}

.sign_form-content .sign_form input {
    margin-bottom: 15px;
    width: 100%;
    border:none;
    border-bottom: 3px #fff6 solid;
    color: #fff; /*color de las letras */
    background-color: transparent;
    transition: 0.1s;/*transicion*/
   
}
.sign_form-content .sign_form input::placeholder{
    color: #fff;
    font-family:montserrat ;
}

.sign_form-content .sign_form input:hover {
    transition: border-bottom;
    border-bottom: 3px #fff solid;
    transition: 0.1s;/*transicion*/

}

.sign_form-content .sign_form input:focus {
    border: none;
    outline: none;
    border-bottom: 3px #fff solid;
}

.sign_form-content .sign_form input[type='submit'] {
    margin: 10px auto;
    width: 90%;
    border:none;
    padding: 15px;
    border-radius: 10px;
    background: #1ebda0;
    color:#000;
}

.sign_form-content .sign_form input[type='submit']:hover {
    cursor: pointer;
    background: #C2BBF0;

}
.sign_form input {
    background-color: #F1E3F3;
}

