@import url('sign.css');

body {
    font-family: sans-serif;
    background-image: url('../picture/BodyBackground.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center
}