/* Paleta de colores segun el fondo del sitio web */

:root {

    /* Colores bases */
    
    --main-green:#1EBDA0;
    --main-green-faded:#2ef1ce;

    /* Colores complementarios */

    --dark-red:#261101;
    --blue-green:#1C5F66;
    --dark-blue-green:#012326;
    --beige:#7B4D2C;
    --nose-como-llamarlo:#569EA6;
    --blue-green-navbar:#1c5f667c;

    /*fuentes*/

    --font-weight:500;

    /*transition*/

    --transition:0.2s;
}
