/* Paleta de colores segun el fondo del sitio web */

:root {

    /* Colores bases */
    --white:#fff;
    --light-green:#038C8C;
    --green:#027373;
    --dark-green:#014040;
    --black:#01000D;
    --dark-blue:#111426;

    /* Colores complementarios */

    --dark-red:#261101;
    --blue-green:#1C5F66;
    --dark-blue-green:#012326;
    --beige:#7B4D2C;
    --nose-como-llamarlo:#569EA6;
    --blue-green-navbar:#1c5f667c;
}
