@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');
.title{
    margin-left: 10px;
}

.title_form-sign {
    text-align: center;
    color:var(--font-color);
    margin-top: 2em;
    font-family: var(--form-font)

}

.sign_form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:1em;
    margin-right: 1em; 
}

.sign_form-content .sign_form {
    box-shadow: var(--inside-box-shadow);
    background: var(--white-faded);
    display: flex;
    width: 30em;
    max-width: 1030px;
    flex-wrap: wrap;
    align-content: center;
    padding: 2.5em;
    border-radius: 25px;
    margin-bottom:2em ;
}

.sign_form-content .sign_form label {
    font-family: var(--form-font);
    font-weight: 600;
    font-size: .9rem;
    margin: 5px;
    color: var(--font-color);
}

.sign_form-content .sign_form input {
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    color: var(--font-color); /*color de las letras */
    background-color: transparent;
    transition: 0.1s;/*transicion*/
    border: 0.8px solid #242424;
    border-radius: 10px;
    padding:0.5em ;
}
.sign_form-content .sign_form input:hover {
border: 0.8px solid black;
}


.sign_form-content .sign_form input:focus-visible {
box-shadow: 0px 0px 5px 2px var(--main-green);
border: 0.8px solid var(--main-green);
;
}
.sign_form-content .sign_form input[type='submit'] {
    margin: 10px auto;
    width: 90%;
    border:none;
    padding: 15px;
    border-radius: 10px;
    background: var(--main-green);
    color:#000;
    font-family: var(--form-font);
    font-weight: 600;
    font-size: larger;
}

.sign_form-content .sign_form input[type='submit']:hover {
    cursor: pointer;
    background: var(--main-green-faded);
    

}
.sign_form input {
    background-color: #F1E3F3;
}
