/* Paleta de colores segun el fondo del sitio web */

:root {

    /* Colores bases */
    
    --main-green:#1EBDA0;
    --main-green-faded:#2ef1ce;

    --white-faded:rgb( 233, 236, 239);
    /*fuentes*/
    --font-color: rgb(0,0,0) ;
    --font-weight:500;
    --form-font: "InterVariable",sans-serif;

    /*transition*/

    --transition:0.2s;

    /*box shadow*/

    --inside-box-shadow: inset 0px 0px 14px 3px rgba(0,0,0,0.15);
    --outside-box-shadow:0px 0px 14px 3px rgba(0,0,0,0.15);
}
