<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/text.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/article-link.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/cards.css')}}">
    {% block style %}{% endblock %}
    <title>{% block title %} Wissen | {% endblock %}</title>

</head>
<body>

    {% block content%}
        <!-- Contenido -->
    {% endblock %}
    
    <!-- Script -->
    {% block script %}
        <!-- If you need to use any script, you only need use Jinja2 and change it-->
    {% endblock %}

    <!-- This file's default script-->
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

    <!-- This file need to be check-->
    <script src="{{url_for('static',filename='js/navbar_dropdown.js')}}"></script>
</body>
</html>