{% extends 'base.html' %}

<!-- TItulo del sitio web-->
{% block title %}
    {{super()}} Inicio
{% endblock %}

{% block content%}
    {% include 'navbar.html' %}
    <div>
    <!-- Only for a example-->
    <center><h1 style="color:white;">Bienvenido</h1></center>
    <section class="slider-container">
        <button class="prev">&#10094;</button>
        <div class="slider">
            <div class="slide">
                <img src="" alt="Imagen 1">
            </div>
            
            <div class="slide">
                <img src="" alt="Imagen 2">
            </div>
            
            <div class="slide">
                <img src="" alt="Imagen 3">
            </div>
        </div>
        
        <button class="next">&#10095;</button>
    </section>
    </div>


    <!-- Script for slide -->
    {% block script %}
        <script src="{{url_for('static', filename='js/slider.js')}}"></script>
    {% endblock %}

{% endblock %}