{% extends 'base.html' %}

<!-- TItulo del sitio web-->
{% block title %}
    {{super()}} Inicio
{% endblock %}

{% block content%}
    {% include 'navbar.html' %}
    
    <!-- Only for a example-->
    <center><h1 style="color:white;">Bienvenido</h1></center>

    <section class="slider-container">

        <div class="slider">
                <div class="slide">
                        <img src="../static/picture/slide/slider_1.jpg" alt="Imagen 1">
                    </div>
            
                    <div class="slide">
                        <img src="../static/picture/slide/slider_2.jpg" alt="Imagen 1">
                    </div>
            
                    <div class="slide">
                        <img src="../static/picture/slide/slider_3.jpg" alt="Imagen 1">
                    </div>
        </div>

        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
                  
    </section>


    <!-- Script for slide -->
    {% block script %}
        <script src="{{url_for('static', filename='js/slider.js')}}"></script>
    {% endblock %}

{% endblock %}