<header>
    <nav class="navbar">
    <ul class="left_navbar">   
        <li class="father_icon"><img class="icon" src="https://r.mobirisesite.com/487813/assets/images/photo-1488229297570-58520851e868.jpeg" alt="imagen temporal" ></li>
        <li class="title_navbar">WISSEN</li>
    </ul>
    <ul class="center_navbar_father">
        <li class="center_navbar animated"><a class="text_linked" href="https://www.google.co.uk/" target="_blank">Proyectos</a></li>
        <li class="center_navbar animated"><a class="text_linked" href="https://www.google.co.uk/" target="_blank">Redes(temp)</a></li>
        <li class="center_navbar animated"><a class="text_linked" href="https://www.google.co.uk/" target="_blank">Contacto</a></li>
    </ul>
    <ul class="right_navbar_father">
        <li class="right_navbar"></li>
        <li class="right_navbar"></li>
        <li class="right_navbar"></li>
    </ul>
    
    <button class="button">
        <span></span>
        <span></span>
        <span></span>
        
    </button>
    </nav>
    <nav class="dropdown-container">
        <ul class="dropdown-menu">
            <li><a href="" class="dropdown-elements">prueba</a></li>
            <li><a href="" class="dropdown-elements">prueba</a></li>
            <li><a href="" class="dropdown-elements">prueba</a></li>
            <li><a href="" class="dropdown-elements">prueba</a></li>
        </ul>
        
    </nav>

</header>
