<header>
    <nav class="navbar">
        <ul class="left_navbar">   
            <li class="title_navbar">WISSEN</li>
        </ul>

        <ul class="center_navbar_father">
            <li class="center_navbar animated"><a class="text_linked" href="https://www.google.co.uk/" target="_blank">Inicio</a></li>
            <li class="center_navbar animated"><a class="text_linked" href="https://www.google.co.uk/" target="_blank">Proyectos</a></li>
            <li class="center_navbar animated"><a class="text_linked" href="https://www.google.co.uk/" target="_blank">Blog</a></li>
            <li class="center_navbar animated"><a class="text_linked" href="https://www.google.co.uk/" target="_blank" id="contacto">Contacto</a></li>
        </ul>
    

        <ul class="right_navbar_father">
            <li class="right_navbar"></li>
            <li class="right_navbar"></li>
            <li class="right_navbar"></li>
        </ul>

        <div class="button_container" style="display:none;">
            <button class="button_menu" id="button_menu">
                <img src='static\picture\three_lines.png';" alt="">
            </button>
        </div>
    </nav>

</header>
