<!--
    El proposito de esta seccion es que sea controlada de forma automatica
    con un software programado en python, cuyo software se ejecuta en el 
    servidor del sitio web.
-->

<section class="recent_news-container">
    <h2>Ultimas noticias</h2>
    <hr>
    
        <div class="news_container">

            <div class="news-frontPage">

                <div class="news-frontPage_title">
                    <a href="#">
                            Esta pareja decidió gastar todos sus 
                            ahorros en su idea de empresa porque los
                             inversores no confiaban en ellos. 
                             Ahora son millonarios
                    </a>
                </div>

                <div class="news-frontPage_picture">
                    <img src="{{url_for('static',filename='picture/coding.jpg')}}" alt="">
                </div>
                
            </div>

            <div class="news-middlePage">
                <p>
                    Según las palabras del hombre: 
                    "Nunca tuve dinero en mi infancia, por lo que nunca tuve 
                    la noción de que debía comprar muchas cosas y nuestro estilo 
                    de vida era bastante simple"
                </p>
                <a href="#">Leer mas</a>
            </div>

            <div class="news-bottom">
                <img src="" alt="Logo_mensage">
                <h2>{{ user_comment }}Pedro Perez </h2>
                <h2> - </h2>
                <h2> Fecha: {{ variable }} 12 de mayo del 2024 </h2>
            </div>
            
        </div>
        <hr>


        <!-- Other Esto es una prueba deben ser puesto por python de forma automatica -->
        <div class="news_container">

                <div class="news-frontPage">
    
                    <div class="news-frontPage_title">
                        <a href="#">
                                Esta pareja decidió gastar todos sus 
                                ahorros en su idea de empresa porque los
                                 inversores no confiaban en ellos. 
                                 Ahora son millonarios
                        </a>
                    </div>
    
                    <div class="news-frontPage_picture">
                        <img src="{{url_for('static',filename='picture/coding.jpg')}}" alt="">
                    </div>
                    
                </div>
    
                <div class="news-middlePage">
                    <p>
                        Según las palabras del hombre: 
                        "Nunca tuve dinero en mi infancia, por lo que nunca tuve 
                        la noción de que debía comprar muchas cosas y nuestro estilo 
                        de vida era bastante simple"
                    </p>
                    <a href="#">Leer mas</a>
                </div>
    
                <div class="news-bottom">
                    <img src="" alt="Logo_mensage">
                    <h2>{{ user_comment }}Pedro Perez </h2>
                    <h2> - </h2>
                    <h2> Fecha: {{ variable }} 12 de mayo del 2024 </h2>
                </div>
                
            </div>
            <hr>

            <div class="news_container">

                    <div class="news-frontPage">
        
                        <div class="news-frontPage_title">
                            <a href="#">
                                    Esta pareja decidió gastar todos sus 
                                    ahorros en su idea de empresa porque los
                                     inversores no confiaban en ellos. 
                                     Ahora son millonarios
                            </a>
                        </div>
        
                        <div class="news-frontPage_picture">
                            <img src="{{url_for('static',filename='picture/coding.jpg')}}" alt="">
                        </div>
                        
                    </div>
        
                    <div class="news-middlePage">
                        <p>
                            Según las palabras del hombre: 
                            "Nunca tuve dinero en mi infancia, por lo que nunca tuve 
                            la noción de que debía comprar muchas cosas y nuestro estilo 
                            de vida era bastante simple"
                        </p>
                        <a href="#">Leer mas</a>
                    </div>
        
                    <div class="news-bottom">
                        <img src="" alt="Logo_mensage">
                        <h2>{{ user_comment }}Pedro Perez </h2>
                        <h2> - </h2>
                        <h2> Fecha: {{ variable }} 12 de mayo del 2024 </h2>
                    </div>
                    
                </div>
                <hr>

</section>