<section class="wissen_newsTech">

    <section class="wissen_newsTech-notify">
        <img src="" alt="Logo">
        <h2>Recibe tu <b>"Wissen NewsTech"</b> aqui.</h2>
        <p>Te enviaremos una <b>"Wissen NewsTech"</b> cada semana, disfrutala !!!</p>
    </section>

    <section class="wissen_newsTech-form">

        <form action="">
            <input type="email" placeholder="Ingresa tu E-mail" name="email">
            <input type="submit" value="Suscribete">
        </form>

    </section>

</section>